CompileFlags:
  Add:
  - --target=arm-none-eabi
  - -D_LIBCPP_HAS_NO_THREADS
  - -D_GTHREADS
  - --sysroot=/opt/devkitpro/devkitARM/arm-none-eabi
  - -I/home/nick/repos/butano/butano/include
  - -I/home/nick/repos/gba-rpg/src
  - -I/home/nick/repos/gba-rpg/build
  - -std=c++23
  - -Wno-unqualified-std-cast-call

---
If:
  PathMatch: ".*tests/.*"
CompileFlags:
  Remove:
    - --target=*
    - --sysroot=*
    - -I/opt/devkitpro/*
    - -I/home/nick/repos/butano/*
    - -I/home/nick/repos/gba-rpg/* 
    - -D_LIBCPP_HAS_NO_THREADS

  Add:
    - -pthread
    - -Iinclude
    - -Imocks
    - -Isrc
  Compiler: g++